@font-face {
  font-family: "HankenGrotes";
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: HankenGrotes;
  font-size: 62.5%;
}

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  min-height: 100vh;
  position: relative;
}

.result {
  padding: 3rem;
  height: 35.6rem;
  color: var(--White);
  border-radius: 0 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    180deg,
    var(--Light-slate-blue-background) 1%,
    var(--Light-royal-blue-background) 100%
  );
}

.result__h1 h1 {
  font-size: 2rem;
  color: var(--Pale-blue);
  font-weight: 500;
  margin-bottom: 2.6rem;
}

.result__circle {
  background: linear-gradient(
    180deg,
    var(--Violet-blue-circle) 0%,
    var(--Persian-blue-circle) 100%
  );
  height: 14rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 2.8rem;
}

.result__circle h2 {
  font-size: 6rem;
}
.result__circle p {
  font-size: 1.4rem;
  color: var(--Light-lavender);
}

.result__text h2 {
  font-size: 2.5rem;
  margin-bottom: 0.6rem;
}

.result__text p {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--Light-lavender);
}

.summary {
  padding: 3rem 3rem 7rem;
}

.summary h2 {
  font-size: 2rem;
  margin-bottom: 2.8rem;
}

.box {
  background-color: antiquewhite;
  width: 100%;
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
  border-radius: 1rem;
  padding: 2rem;
  color: rgb(176, 176, 176);
  font-weight: 700;
  font-size: 1.4rem;
}

.box span {
  color: var(--Dark-gray-blue);
}

.icon {
  display: flex;

  gap: 0.8rem;
}

.summary__reaction {
  background-color: hsla(0, 100%, 67%, 0.08);
}
.summary__reaction h3 {
  color: var(--Light-red);
  font-size: 1.4rem;
}

.summary__memory {
  background-color: hsla(39, 100%, 56%, 0.08);
}

.summary__memory h3 {
  color: var(--Orangey-yellow);
  font-size: 1.4rem;
}

.summary__verbal {
  background-color: hsla(166, 100%, 37%, 0.08);
}
.summary__verbal h3 {
  color: var(--Green-teal);
  font-size: 1.4rem;
}

.summary__visual {
  background-color: hsla(234, 85%, 45%, 0.08);
}
.summary__visual h3 {
  color: var(--Cobalt-blue);
  font-size: 1.4rem;
}

.summary button {
  border: none;
  background-color: var(--Dark-gray-blue);
  color: white;
  font-weight: 700;
  width: 100%;
  padding: 2rem 0;
  border-radius: 3rem;
  font-size: 1.6rem;
  
}

.attribution {
  margin-top: 1.5rem;
  font-size: 16px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 100%, 83%);
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Dark-gray-blue);
  height: 6rem;
}

@media screen and (min-width: 636px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    max-width: 73.8rem;
    height: 51.2rem;
    display: flex;
    background-color: white;
  }

  .result {
    height: 100%;
    width: 50%;
    border-radius: 3rem;
  }

  .summary {
    height: 100%;
    width: 50%;
  }

  .summary__visual {
    margin-bottom: 4.2rem;
  }

  .summary button:hover {
    cursor: pointer;
    background: linear-gradient(
      180deg,
      var(--Light-slate-blue-background) 1%,
      var(--Light-royal-blue-background) 100%
    );
  }
}
